<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Students Performance Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        
        <div class="container">
            <h1>Students performance Prediction</h1>
            
            <p>
                Welcome to Students performance Prediction
            </p>
            <a href="/predictdata" class="button">
                Start Prediction    
            </a>
        </div>
    </body>


</html>